.main-login-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1000px;
    width: 100%;
    background-image: url("../../public/images/login.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -9;

}

.main-login-div .login-heading h1 {
    
    padding: 4rem;
    margin-top: 5rem;
    font-weight: 500;
    font-size: 50px;
    line-height: 72px;
}

.login-box {
    
    width: 526px;
    height: 639px;
    padding: 50px;
    background-color: #ECF0F1;
    box-shadow: 8.84393px 8.84393px 44.2197px rgba(0, 0, 0, 0.25);
    border-radius: 26.5318px;
    
    
}

.login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-login-div .login-box button {
    background-color: white;
    width: 442px;
    height: 50px;
    border-radius: 40px;
    text-align: center;
    margin-top: 3rem;

}

.main-login-div .login-box p {
    padding: 2rem;
    margin-top: 1rem;
    color: black;

}

.main-login-div .login-box a {
    padding: 2rem;
    margin-top: 0.5rem;
    margin-left: 25rem;
    color: black;
    font-size: 1.8rem;

}

.main-login-div .login-box .inputBox input {
    width: 442px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 40px;
    outline: none;
    border: none;
    font-size: 20px;
    line-height: 29px;
    padding-left: 3rem;
    margin: 10px;
}

.login-box input[type="submit"] {
    width: 210px;
    height: 56px;
    background-color: #F1C40F;
    border-radius: 30px;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 36px;
    cursor: pointer;
    margin-top: 3rem;
}


.button-l-group {
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
  

}

.button-l-group button{
    margin: 3.5rem 14rem;
    padding: 0.5rem 2.5rem;
    background-color: var(--button-background);
    color: black;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 36px;
    z-index: 1;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .login-box {
        margin: 20px;  
             
    }

    .main-login-div .login-heading h1 {
        margin: 100px;
        margin-bottom: 10px;
        padding: 4rem;
        font-weight: 500;
        font-size: 50px;
        line-height: 72px;
    }
}


@media (max-width: 768px) {
   

    .login-box {
        margin-left: 20px;  
             
    }

    .main-login-div .login-heading h1 {
        margin: 100px;
        margin-bottom: 10px;
        padding: 4rem;
        font-weight: 500;
        font-size: 50px;
        line-height: 72px;
    }

    .button-l-group {
    
        display: flex;
        justify-content: center;
        align-items: center;
      
    
    }
    
}


@media (max-width: 558px) {
    .main-login-div {
        display: block;        
        height: 800px;
        width: 100%;        
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: -9;
    
    }

    .main-login-div .login-heading h1 {
        margin: 100px;
        margin-bottom: 10px;
        text-align: center;
        padding: 3rem;
        padding-bottom: 1rem;
        font-weight: 500;
        font-size: 40px;
        line-height: 72px;
        
    }

    .login-box {
        margin: 0rem 1rem;
        width: auto;
        height: 440px;
        padding: 30px 20px;
        background-color: #ECF0F1;
        box-shadow: 8.84393px 8.84393px 44.2197px rgba(0, 0, 0, 0.25);
        border-radius: 26.5318px;
    }

    .login-box {
        display: block;
        
    }

    .main-login-div .login-box button {
        background-color: white;
        width: 100%;
        height: 50px;
        border-radius: 40px;
        text-align: center;
        align-items: center;
        margin-top: 2rem;
        font-size: 14px;
        padding: 10px;
    }

    .main-login-div .login-box p {
        width: auto;
        padding: 0rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        color: black;
        text-align: center;
        font-size: 1.4rem;
    }

    .main-login-div .login-box .inputBox input {
        width: 100%;
        height: 46px;
        font-size: 15px;
        line-height: 20px;
        padding-left: 3rem;
        margin: 4px 0px;
    }

    .main-login-div .login-box a {
        padding: 2rem;
        margin-top: 0.5rem;
        margin-left: 0px;
        
        color: black;
        font-size: 1.5rem;
    
    }

    .login-box input[type="submit"] {
        width: 100%;
        height: 44px;
        background-color: #F1C40F;
        border-radius: 30px;
        border: none;
        font-style: normal;
        font-weight: 700;
        font-size: 19px;
        line-height: 20px;
        cursor: pointer;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .main-login-div .login-box p:last-child {
        width: auto;
        padding: 0rem;
        margin-top: 0rem;
        margin-bottom: 2rem;
        color: black;
        text-align: center;
        font-size: 1.4rem;
    }

    .button-l-group {
    
        display: flex;
        justify-content: center;
        align-items: center;
      
    
    }
    .button-l-group button {
        
        padding: 1rem 2rem;
        background-color: var(--button-background);
        color: black;
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 20px;
        z-index: 1;
        /* position: fixed;
        top: 10px;
        left: 0px;
        width: 110px; */

    
    }

} 

@media (max-width: 436px){
    .button-l-group button{font-size: 14px;
    min-width: 15rem;}
    
}