.menu {
    padding: 0 14rem;
    /* margin-top: 12rem; */
}

.menu nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 12rem;
    /* position: fixed;
    top: 0;  */
}


.menu nav .left-side-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;

}

.menu nav .left-side-menu .sub-menu {
    height: inherit;
    display: flex;
    /* position: relative;
    z-index: 99; */
}

.menu nav .left-side-menu .sub-menu a {
    margin-right: 2rem;
}
.menu nav .left-side-menu .sub-menu a:first-child {
    margin-right: 1rem;
}

.menu nav .left-side-menu .logo a h3 {
    font-size: 2.5rem;
}

.menu nav .left-side-menu .sub-menu a li {
    font-size: 2rem;
    line-height: 3.6rem;
    text-transform: capitalize;
    transition: all 0.2s;
}

.menu nav .left-side-menu .sub-menu a li:hover {
    color: var(--button-background);
}

.menu .right-side-menu {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.menu .right-side-menu .sub-menu {
    width: 100%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menu .right-side-menu .sub-menu a {
    margin-right: 3rem;
    padding: 0.7rem 2.5rem;
    background: rgba(255, 255, 255, 0.5);
    font-size: 2rem;
    cursor: pointer;
    border-radius: 2rem;
    position: relative;
    z-index: 9;
}

.menu .right-side-menu .sub-menu .style-btn {
    padding: 0px;
}


.menu .right-side-menu .sub-menu button {
    padding: 0.5rem 2.5rem;
    background-color: var(--button-background);
    color: #fff;
    position: relative;
    z-index: 9;
}

.menu .right-side-menu .sub-menu button:hover {
    background: #1b3d68;
}

.menu .right-side-menu .sub-menu a li:hover {
    color: var(--button-background);
}


@media (min-width: 1024px) {

    .menu {
        padding: 0 4rem;
    }

    .menu nav .left-side-menu .sub-menu a li {
        font-size: 2rem;
        margin-right: 1.5rem;
        width: 10rem;
    }

    .menu nav .left-side-menu .logo a h3 {
        margin-right: 5rem;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .menu {
        padding: 0 3rem;
    }

    .menu nav .left-side-menu .sub-menu a li {
        font-size: 1.3rem;
        margin-right: 2px;
    }

    .menu nav .left-side-menu .logo a h3 {
        font-size: 2rem;
    }

    .menu nav .left-side-menu .sub-menu a {
        margin-right: 2rem;
    }


    .menu nav {
        display: flex;
        flex-flow: column;
        align-items: flex-start;

    }

    .menu nav .left-side-menu {
        width: 100%;
        display: block;
        order: 2;
    }

    .menu nav .left-side-menu .logo {
        display: block;
        width: 100%;
    }

    .menu nav .left-side-menu .logo a h3 {
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    .menu .left-side-menu .sub-menu {
        width: 100%;
        display: block;
    }

    .menu nav .left-side-menu .sub-menu a {
        margin-right: 1.7rem;
    }

    .menu nav .left-side-menu .sub-menu a li {
        font-size: 2rem;
    }

    .main nav .right-side-menu {
        width: 100%;
        order: 1;
    }

    .menu .right-side-menu .sub-menu button {
        width: 13rem;
        font-size: 2rem;
        text-transform: uppercase;
    }

    .menu .right-side-menu {
        width: 100%;
        display: block;
        justify-content: flex-end;
    }

    .menu .right-side-menu .sub-menu a {
        margin: 2rem;
    }
}

@media (max-width: 768px) {

    .menu {
        padding: 0 3rem;
    }

    .menu nav {
        display: flex;
        flex-flow: column;
        align-items: flex-start;

    }

    .menu nav .left-side-menu {
        width: 100%;
        display: block;
        order: 2;
    }

    .menu nav .left-side-menu .logo {
        display: block;
        width: 100%;
    }

    .menu nav .left-side-menu .logo a h3 {
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    .menu .left-side-menu .sub-menu {
        width: 100%;
        display: block;
    }

    .menu nav .left-side-menu .sub-menu a {
        margin-right: 1.7rem;
    }

    .menu nav .left-side-menu .sub-menu a li {
        font-size: 1.8rem;
    }

    .main .right-side-menu {
        width: 100%;
        order: 1;
    }

    .main nav .right-side-menu .sub-menu {
        display: flex;
        justify-content: center;
    }

    .menu .right-side-menu .sub-menu button {
        width: 13rem;
        font-size: 2rem;
        text-transform: uppercase;
    }

    .menu .right-side-menu {
        width: 100%;
        display: block;
        justify-content: flex-end;
    }

    .menu .right-side-menu .sub-menu a {
        margin: 2rem;
    }
}

@media (max-width: 468px) {

    .menu nav .left-side-menu .logo a h3 {
        font-size: 2.7rem;
        
    }

    .menu nav .left-side-menu .sub-menu a li {
        font-size: 1.5rem;
    }

}