.screen{
    display: flex;
    align-items:center;
    justify-content: center;
    height : 90vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.right-section {
    padding:10vh;
    width: 100%;
    overflow-x: scroll;
}

.formBox{
    width: 100%;
    height:auto;
}

.formarea p{
    color: black;
    font-size: 30px;
    font-weight: 500px;
    
}

.right-section form{
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 100%;
    align-items: center;
}
.formBox input{
    width:100%;
    height : 50px;
    padding: 0px 10px;
    border-radius: 15px;
    display: flex;
    margin: 10px 10px;
    font-size: 2rem;
    outline: none; 
    border: none;
    box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.25);
}
.formText{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formText textarea{
    margin-top: 10px;
    padding: 0px 10px;
    width:100%;
    height: 200px;
    box-sizing: border-box;
    resize: none;
    font-size: 2.2rem;
    border-radius: 15px;
    border: none;
    outline: none;
    box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.25);
}

.formBox h3{
    padding: 20px;
    padding-top: 4%;
    font-size: 25px;
}
