.main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1000px;
    width: 100%;
    background-image: url("../../public/images/signup.jpg");
    background-size: cover;
}

.main-div .signup-heading h1 {
    padding: 4rem;

    font-weight: 500;
    font-size: 50px;
    line-height: 72px;
}

.signup-box {
    width: 526px;
    height: 639px;
    padding: 50px;
    background-color: #ECF0F1;
    box-shadow: 8.84393px 8.84393px 44.2197px rgba(0, 0, 0, 0.25);
    border-radius: 26.5318px;
}

.signup-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-div .signup-box button {
    background-color: white;
    width: 442px;
    height: 50px;
    border-radius: 40px;
    text-align: center;
    margin-top: 3rem;

}

.main-div .signup-box p {
    padding: 2rem;
    margin-top: 1rem;
    color: black;
}

.main-div .signup-box .inputBox input {
    width: 442px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 40px;
    outline: none;
    border: none;
    font-size: 20px;
    line-height: 29px;
    padding-left: 3rem;
    margin: 10px;
}

.signup-box input[type="submit"] {
    width: 210px;
    height: 56px;
    background-color: #F1C40F;
    border-radius: 30px;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 36px;
    cursor: pointer;
}